h1 {
  color: rgb(77, 75, 93);
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 50px 0 20px;
  text-align: center;
}

h2 {
  color: rgb(77, 75, 93);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

button {
  background: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 14px 20px;
}

button:hover {
  background: #fbfbf0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
  border-radius: 50%;
	width: 80px;
	height: 80px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 50%;
}

.color-container {
  display: block;
  margin: 0 auto;
  width: 600px;
}

.color-picker-container {
  display: flex;
  justify-content: space-between;
}

.primary-color-container {
  display: flex;
}

.primary-color {
  border-radius: 50%;
  border: 1px solid rgb(177, 175, 193);
  height: 80px;
  margin-left: 20px;
  width: 80px;
}

.color-variation-container {
  display: flex;
  align-items: center;
}

.color-variation {
  border-radius: 50%;
  border: 1px solid rgb(177, 175, 193);
  height: 80px;
  margin-left: 20px;
  width: 80px;
}

#palette {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  margin: 80px auto;
  row-gap: 10px;
  height: 280px;
  width: 600px;
}

#palette div {
  border: 1px solid rgb(77, 75, 93);
}
